body {
    text-align: center;
    color:brown;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;

}

.list {
    display:inline-block;
    color: lightcoral;
    font-size: 25px;
    text-align: left;
    margin: auto;
}

a {
    display: block;
    padding: 10px;
    margin: 10px;
}